[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-bootstrap4 = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
bootstrap4 = "*"
django-debug-toolbar = "*"
requests = "*"


