{% extends "base.html" %}

{% block title %}
    Home of Herbs
{% endblock title %}

{% block main %}
<header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="welcome">{% block header1 %} Welcome!{% endblock header1 %}</div>
        <br>
        <div class="intro-heading text-uppercase">{% block header2 %}Have you tried going natural?{% endblock header2 %}</div>
        {% block quizbutton %}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'quiz' %}">Take Our Quiz</a>
        {% endblock quizbutton %}
      </div>
    </div>
  </header>
  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Categories</h2>
          <h3 class="section-subheading text-muted">Take a closer look.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <!-- <span class="fa-stack fa-4x"> -->
              <img class="icon" src="static/icons/adaptogens.png" alt="Adaptogens" id="size">
          <!-- </span> -->
          <h4 class="service-heading">Adaptopgens</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <!-- <span class="fa-stack fa-4x"> -->
              <img class="icon" src="static/icons/Antiinflammatories.png" alt="Anti-Inflammatories">
          <!-- </span> -->
          <h4 class="service-heading">Anti-Inflammatories</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <!-- <span class="fa-stack fa-4x"> -->
              <img class="icon" src="static/icons/detoxifiers.png" alt="Detoxifiers"> 
          <!-- </span> -->
          <h4 class="service-heading">Detoxifiers</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
            <!-- <span class="fa-stack fa-4x"> -->
                <img class="icon" src="static/icons/calming.png" alt="Calmatives">
            <!-- </span> -->
            <h4 class="service-heading">Calmatives</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <!-- <span class="fa-stack fa-4x"> -->
              <img class="icon" src="static/icons/expectorants.png" alt="Expectorants">
          <!-- </span> -->
          <h4 class="service-heading">Expectorants</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <!-- <span class="fa-stack fa-4x"> -->
              <img class="icon" src="static/icons/immuneboosters.png" alt="Immune Boosters">
          <!-- </span> -->
          <h4 class="service-heading">Immune Boosters</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock main %}

